<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.adn.dabaeum.credential.infrastructure.mybatis.CredentialGroupMapper">

    <resultMap id="credentialGroupRowResultMap"
        type="com.adn.dabaeum.credential.infrastructure.mybatis.CredentialGroupRow">
        <constructor>
            <idArg column="id" javaType="java.util.UUID"
                typeHandler="org.apache.ibatis.type.ObjectTypeHandler"/>
            <arg column="completion_id" javaType="java.util.UUID"
                typeHandler="org.apache.ibatis.type.ObjectTypeHandler"/>
            <arg column="created_at" javaType="java.time.Instant"/>
        </constructor>
    </resultMap>

    <sql id="credentialGroupColumns">id, completion_id, created_at</sql>

    <insert id="insert">
        INSERT INTO tb_credential_groups (id, completion_id, created_at)
        VALUES (#{id}, #{completionId}, #{createdAt})
    </insert>

    <select id="selectById" resultMap="credentialGroupRowResultMap">
        SELECT <include refid="credentialGroupColumns"/>
          FROM tb_credential_groups
         WHERE id = #{groupId}
    </select>

    <select id="selectByCompletionId" resultMap="credentialGroupRowResultMap">
        SELECT <include refid="credentialGroupColumns"/>
          FROM tb_credential_groups
         WHERE completion_id = #{completionId}
    </select>

    <select id="selectByCompletionIdForUpdate" flushCache="true"
        resultMap="credentialGroupRowResultMap">
        SELECT <include refid="credentialGroupColumns"/>
          FROM tb_credential_groups
         WHERE completion_id = #{completionId}
         FOR UPDATE
    </select>
</mapper>
